.nav{
    background-color: white; 
    box-shadow: -1px 3px 3px 0px hsl(210, 4%, 69%);
    -webkit-box-shadow: -1px 3px 3px 0px hsl(210, 4%, 69%);
    -moz-box-shadow: -1px 3px 3px 0px hsl(210, 4%, 69%);
}
.nav-items{
  display: flex;
  justify-content: space-between;
}
.nav-items h1{
    margin-left: 3rem;
    font-size: 1.5rem;
}
@media screen and (max-width:375px){
  .nav-items h1{
    font-size: 1.3rem;
  }
}

@media screen and (max-width:375px){
  .nav-items h1{
    font-size: 1rem;
    margin-top: 19px;
  }
}