.switch{
    display: flex;
    justify-content: space-between;
    width: 8%;
    margin-right: 2rem;
}

.moon-icon{
    position: relative;
    top: 1.4rem;
    outline: black;
    color: white;
    filter: drop-shadow(0px 0px 2px black);
    cursor: pointer;

}

@media screen and (max-width:1024px) {
    .switch{
        width: 11%;
        margin-right: 3rem;
    }
}
@media screen and (max-width:768px){
    .switch{
        width: 14%;
        margin-right: 5.5rem;
    }
}
@media screen and (max-width:425px){
    .switch{
        width: 24%;
        margin-right: 1rem;
    }
}
@media screen and (max-width:375px){
    .switch{
        width: 27%;
        margin-right: 0rem;
    }
}
@media screen and (max-width:320px){
    .switch{
        width: 32%;
        margin-right: -0rem;
    }
}